@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
    <main>
        <h1 class="col-md-9 offset-md-4">Index</h1>

        <p class="col-md-4 offset-md-4">
            <a asp-action="Create" id="links">Create New</a>
        </p>
        <table class="table col-md-4 offset-md-4">
            <thead>
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Amenities)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Room)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Amenities.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.ID)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </main>