@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
    <main>
        <h1 class="col-md-9 offset-md-4">Index</h1>

        <p class="col-md-4 offset-md-4">
            <a asp-action="Create" id="links">Create New</a>
        </p>
        <table class="table col-md-4 offset-md-4">
            <thead>
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Amenities)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Room)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Amenities.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.Name)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.AmenitiesID">Details</a> |
                            @*<a asp-action="Delete" asp-route-id="@item.AmenitiesID && item.RoomID">Delete</a>*@

                            @Html.ActionLink("Delete", "Delete", new { item.AmenitiesID, item.RoomID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </main>