@model IEnumerable<Async_Inn.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
    <main>
        <h1 class="col-md-9 offset-md-4">Current Properties</h1>

        <p class="col-md-4 offset-md-4">
            <a asp-action="Create">Create New Hotel</a>
        </p>
        <table class="table col-md-6 offset-md-3 table-bordered">
            <thead class="thead-light">
                <tr class="table-secondary">
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </main>
        <footer></footer>
