@model IEnumerable<Async_Inn.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link href="~/reset.css" rel="stylesheet" />

    <link href="~/ControllerHead.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div id="headcontain">

            <nav id="hamburger" role="navigation">
                <div id="navToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="nav">
                        <li><a href='/'>Home</a></li>
                        <li><a href='/Amenities'>Hotel Amenities</a></li>
                        <li><a href='/Hotel'>Hotels</a></li>
                        <li><a href='/HotelRoom'>Hotel Rooms</a></li>
                        <li><a href='/Room'>Rooms</a></li>
                        <li><a href='/RoomAmenities'>Room Amenities</a></li>

                    </ul>

                </div>
            </nav>
            <img id="headhotel" src="~/hotelay.png">
            <div id="index-contain">
                <h1 id="index-title">Async Inn Management System</h1>
            </div>
        </div>
    </header>
    <main>
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </main>
        <footer></footer>
    </body>
</html>
